#weatherResults {
    background-color: #F0F7E0;
    font-family: 'Raleway';
    font-size: 24px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

body {
    text-align: center;
}